AMAP_WEB_SERVICE_KEY=11ce05a3f2c8ec5a3934d5080e6de409
LLM_API_KEY=gg-gcli-1s4-eDPkums67mAkSIDjpNqvWPHFZdfVnpj8TVICsuw
LLM_BASE_URL=https://gcli.ggchan.dev/
LLM_MODEL=gemini-2.5-pro
FRONTEND_ORIGIN=http://localhost:5173

VITE_AMAP_JS_API_KEY=11ce05a3f2c8ec5a3934d5080e6de409
